[Desktop Entry]
Comment=
Exec=/home/marc/source/scripts/minote-dev.sh
GenericName=Minote Dev Project
Icon=helix
Name=Minote Dev
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application

